#navbar {
    display: grid;
    height: fit-content;
    position: -webkit-sticky; /* Safari Support */
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #AC661B;
    border-bottom: 0.5px solid black;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navbar li {
    float: left;
}

#navbar li a, #navbar .dropbtn {
    display: inline-block;
    color: black;
    font-weight: bolder;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

/* Effects when hovering over the button */
#navbar li a:hover, #navbar .dropdown:hover .dropbtn {
    background-color: #c7761f;
}

#navbar li.dropdown {
    display: inline-block;
}

#navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

#navbar .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#navbar .dropdown-content a:hover {
    background-color: #f1f1f1;
}

#navbar .dropdown:hover .dropdown-content {
    display: block;
}

#navbar #search-input {
    float: left;
    position: absolute;
    top: 13px;
    right: 10px;
    width: 280px;
}

@media screen and (max-width: 700px) {
    
    #content {
        margin: 10px 20px;
    }

    #navbar ul {
        padding-top: 10px;
        width: 100%;
    }
    
    #navbar #search-input {
        position: inherit;
        padding: 5px;
        margin: auto;
        width: 90%;
        
    }
}